body {
    background-color: #f2f2f2;
}

.container {
    font-weight: bolder;
    background-color: rgb(183, 177, 177);
    width: 50%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid grey;
    box-shadow: 0 0 10px #ddd;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box; 
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}
